<div class="panel-group" id="accordion">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">
          My Diagrams
        </a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse collapse in">
      <div class="panel-body">
        <h4>Diagram 1</h4>
        Description and Preview
      </div>
      <div class="panel-body">
        <h4>Diagram 2</h4>
        Description and Preview
      </div>
      <div class="panel-body">
        <h4>Diagram 3</h4>
        Description and Preview
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
          Shared Diagrams
        </a>
      </h4>
    </div>
    <div id="collapse2" class="panel-collapse collapse">
      <div class="panel-body">
        <h4>Diagram 1</h4>
        Description and Preview
      </div>
      <div class="panel-body">
        <h4>Diagram 2</h4>
        Description and Preview
      </div>
      <div class="panel-body">
        <h4>Diagram 3</h4>
        Description and Preview
      </div>
    </div>
  </div>
</div>

