<div ng-include="'partials/navbar'"></div>

<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="jumbotron">
				<h1>
					SVG Creator !
				</h1>
			</div>
			<div class="row clearfix">
				<div class="col-md-2 column">
          <div ng-include="'partials/symbolsbar'"></div>
				</div>
				<div class="col-md-8 column">
          <div class="panel panel-primary">
            <div class="panel-heading">Diagramming Area</div>
            <div class="panel-body">
    					<svg id="paper" drawarea xmlns="http://www.w3.org/2000/svg" width='100%'/>
            </div>
          </div>
				</div>
				<div class="col-md-2 column">
          <div ng-include="'partials/diagrambar'"></div>
				</div>
			</div>
		</div>
	</div>
</div>